// Fuente

$cousine: 'Cousine', monospace;


// Colores

$rosado: #ff729f;
$verde: #81f4e1;
$verde-claro: #2fc9af;
$azul: #56cbf9;
$azul-claro: #2998c3;
$gris: #818181;
$white: #fff;
// Tamaños de Fuente
$large: 20px;
$mediun: 18px;
$small: 14px;
$x-small: 12px;
