.contenedor__imagenes {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.item1 {
  padding: .2rem .5rem .2rem .5rem;
  margin: .5rem;
  width: 10rem;
  align-items: center;
  width: 14.6rem;
  height: 14.6rem;
	overflow: hidden;

}
.contenedor__imagenes2 {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.item2 {
  padding: .2rem .5rem .2rem .5rem;
  margin: .5rem;
  width: 10rem;
  align-items: center;
  width: 58.75rem;
  height: 19.3rem;
	overflow: hidden;

}
.contenedor__imagenes3 {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.item3 {
  padding: .2rem .5rem .2rem .5rem;
  margin: .5rem;
  width: 10rem;
  align-items: center;
  width: 14.6rem;
  height: 14.6rem;
	overflow: hidden;

}
.item4 {
  padding: .2rem .5rem .2rem .5rem;
  margin: .5rem;
  width: 10rem;
  align-items: center;
  width: 14.6rem;
  height: 17rem;
	overflow: hidden;

}
