
.contenedor__imagenes {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.item1 {
  padding: .2rem;
  margin: .5rem;
  align-items: center;
	overflow: hidden;
  width: 10rem;
  height: 10rem;
}
.contenedor__imagenes2 {
  display: flex;
  justify-content: center;
  
}
.item2 {
  box-sizing: border-box;
    display: contents;
    justify-content: center;
   .img5 {

   width: 50%%;
   height: 50%;
   }

}


.contenedor__imagenes3 {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.item3 {
  padding: .2rem;
  margin: .5rem;
  align-items: center;
	overflow: hidden;
  width: 10rem;
  height: 10rem;
}
.item4 {
  padding: .2rem;
  margin: .5rem;
  align-items: center;
	overflow: hidden;
  width: 10rem;
  height: 15rem;
}
